<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>OrderList</title>
</head>
<body class="text-center" style="margin-top: 50px; margin-right: 80px; margin-left: 80px; margin-bottom: 20px;">
    <div class="px-4 py-5 my-5 text-center">
        <header>
          <h1 class="display-5 fw-bold"></h1>
        </header>
                 
        <h1 class="display-5 fw-bold">OrderList</h1>
        <div class="col-lg-10 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">순번</th>
                <th scope="col">책 정보</th>
                <th scope="col">주문일자</th>
                <th scope="col">주문번호</th>
                <th scope="col">주문금액</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>1</td>
                <td>데이터베이스 개론</a></td>
                <td>21-11-08</td>
                <td>1</td>
                <td>25000</td>
                <td><button type="button" class="btn btn-dark">주문취소</button></td>
              </tr>

            </tbody> 
          </table>
        </div>
      </div>
    
</body>
</html>